@use "helpers" as *;

:root {
  --color-light: #FFFFFF;
  --color-dark: #000000;

  --color-light-DE: #DEDEDE;
  --color-orange: #FE4B0A;
  --color-grey-72: #727272;
  --color-dark-1F: #1F1F1F;
  --color-grey-78: #787878;
  --color-dark-19: #191818;

  --font-family-base: "Inter", sans-serif;

  --container-width: #{rem(1596)};
  --container-padding-x: #{rem(1596)};

  --transition-duration: 0.2s;

  @include laptop {
    --container-width: #{rem(1280)};
  }
}